.singleCharCard {
  margin-top: 1%;
  display: flex;
}
.singleCharImg {
  width: 500px;
}
.singleCharBio {
  margin-left: 2%;
}
.charName {
  font-size: 40px;
}
.charSpecies {
  font-size: 40px;
}
.charLocation {
  font-size: 40px;
}

@media screen and (max-width: 900px) {
  .singleCharCard {
    display: block;
    text-align: center;
  }
  .singleCharImg {
    width: 80%;
  }
  .singleCharBio {
    margin-left: 2%;
  }
}
