.body {
    background-color: #a3f5e0;
}
.charactersMain {
    position: relative;
    width: 100%;
    height: 100%;
}
.charactersFilter {
  position: relative;
  display: flex;
  width: 500px;
  height: 5vh;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
}
.inputFilter {
  font-size: 1.3rem;
  width: 50%;
  height: 86%;
  margin-left: 2%;
}
.selectFilter {
  font-size: 1.3rem;
  width: 25%;
  height: 100%;
  margin-left: 2%;
}
.buttonFilter {
  font-size: 1.3rem;
  width: 25%;
  height: 100%;
  margin-left: 2%;
}
.charCardsList {
    position: relative;
    font-family: 'Arial';
    width: 98%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
}
.charCard {
    position: relative;
    height: 96%;
    width: 95%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.3rem 1rem gray;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 6%;
}
.charImg {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.descriptionP {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 1rem;
}
.episodes {
  display: flex;
  justify-content: center;
}
.episodeNumbers {
  margin-left: 2%;
}
@media (width < 96em) {
  .charCardsList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width < 72em) {
  .charCardsList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 48em) {
  .charCardsList {
    grid-template-columns: repeat(2, 1fr);
  }
  .charactersFilter {
    width: 100%;
  }
}
@media (width < 24em) {
  .charCardsList {
    grid-template-columns: repeat(1, 1fr);
  }
  .charactersFilter {
    width: 100%;
  }
}
